html {
  background: #f1f1f1;
}

html,
body {
  height: 100vh;
  overflow: auto;
}

.main, #container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000;
  //background: linear-gradient(#e4e0ba, #f7d9aa);
}

.foot-Wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
}
